body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
  }
  
  .image-container {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .image-container img {
    display: inline-block;
    width: 30%;
    margin: 1%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    vertical-align: top;
  }
  @media (max-width: 768px) {
    .image-container img {
      width: 40%; /* Two images per row */
    }
  }
  
  @media (max-width: 480px) {
    .image-container img {
      width: 90%; /* One image per row */
    }
  }
    